<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="question.js"></script>
 <div ng-app="QuesApp">
  <div class="NSQ" ng-controller="QuesControl"  ng-init="NSQ()" >			    
	  <table>
	  <tr ng-repeat="x in Qrecords">
		<td>{{ 'Id: ' + x.Id }}</td>
    	<td>{{ 'Question: ' + x.QuestionText }}</td>
	  	<td>{{ 'Nickname: ' + x.Nickname }}</td>
    	<td>{{ 'Topics: ' + x.Topics }}</td>
	  	<td>{{ 'Rating: ' + x.Rating }}</td>
    	<td>{{ 'Time: ' + (x.Timestamp | date:'dd/MM/yyyy HH:mm:ss') }}</td>
		<td><textarea rows="6" cols="50" placeholder="Write here your answer" maxlength="300" ng-model="answertext" ></textarea><br> </td>
    	<td><input type="button"  value="Submit Answer" ng-click="Answering(x.Id,x.Nickname,answertext)" /></td>
	  </tr>	
	</table>
	</div>
</div>
</body>
<!-- <div ng-app="Authentication">
	<div ng-controller="AuthCtrl" ng-init="init()"> 
	</div>
</div> -->
<script src="authentication.js"></script>

</html>