<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>loginpage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet/</url-pattern>
    <url-pattern>/LoginServlet/Register/</url-pattern>
    <url-pattern>/LoginServlet/Login/</url-pattern>
    <url-pattern>/LoginServlet/*/</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.DBListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
    <url-pattern>/QuestionServlet/Asking/</url-pattern>
    <url-pattern>/QuestionServlet/GetTwentyNewQ/</url-pattern>
    <url-pattern>/QuestionServlet/NewlySubmittedQuestions/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationServlet</display-name>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>servlet.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
    <url-pattern>/AuthenticationServlet/Authenticate/</url-pattern>
    <url-pattern>/AuthenticationServlet/Logout/</url-pattern>

  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerServlet</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>servlet.AnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/AnswerServlet</url-pattern>
    <url-pattern>/AnswerServlet/Answering/</url-pattern>
  </servlet-mapping>
</web-app>